.input {
  height: 4.2rem;
  font-size: 1.5rem !important;
  &[name='description'] {
    height: 10rem;
  }
  &[type='number']::-webkit-inner-spin-button,
  [type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.submitButton {
  height: 5rem;
  width: 12rem;
  font-size: 1.6rem;
}
